    <div id="tools-wrapper">
    {% for section in config %}
    <h3 id="{{ section.name.lower().replace(' ', '-') }}">{{ section.name }}</h3>
    {{ section.get('intro', '') }}
    <table>
      <tr>
        <th>Name</th>
        <th></th>
        <th>Stars</th>
        <th>Contributors</th>
        <th>Downloads</th>
        <th>License</th>
        <th>Docs</th>
        <th>Conda</th>
      </tr>
      {% for package in section.packages %}
      <tr>
        <td align='left'>
          <a href="http://github.com/{{ package.repo }}">{{ package.name }}</a>
        </td>
        <td align='left'>
          {% if 'dormant' in package.badges %}
            <a href="{{ package.dormant }}">
              <img src="../_static/dormant.svg">
            </a>
          {% endif %}
        </td>
        <td align='left'>
          <a href="https://github.com/{{ package.repo }}/stargazers">
            <img src="../_static/cache/{{ package.name }}_stars_badge.svg">
          </a>
        </td>
        <td align='left'>
          <a href="https://github.com/{{ package.repo }}/graphs/contributors">
            <img src="../_static/cache/{{ package.name }}_contributors_badge.svg">
          </a>
        </td>
          {% if 'conda' in package.badges %}
          <td align='left'>
            <a href="https://anaconda.org/{{ package.conda_channel }}/{{ package.conda_package}}">
              <img src="https://anaconda.org/{{ package.conda_channel }}/{{ conda_package }}/badges/downloads.svg">
            </a>
          </td>
          {% else %}
          <td align='center' class='empty-cell'>-</td>
          {% endif %}
          {% if 'conda' in package.badges %}
            <td align='left'>
              <a href="https://anaconda.org/{{ package.conda_channel }}/{{ package.conda_package}}">
                <img src="https://anaconda.org/{{ package.conda_channel }}/{{ conda_package }}/badges/license.svg">
              </a>
            </td>
          {% else %}
          <td align='center' class='empty-cell'>-</td>
          {% endif %}
          {% if 'site' in package.badges %}
          <td align='left'>
            <a href="{{ package.site_protocol }}://{{ package.site }}">
              <img src="https://img.shields.io/website-up-down-green-red/{{ package.site_protocol }}/{{ package.site }}.svg">
            </a>
          </td>
          {% elif 'rtd' in package.badges %}
          <td align='left'>
            <a href="https://{{ package.rtd_name }}.readthedocs.io">
              <img src="https://readthedocs.org/projects/{{ package.rtd_name }}/badge/?version=latest">
            </a>
          </td>
          {% else %}
          <td align='center' class='empty-cell'>-</td>
          {% endif %}
          {% if 'conda' in package.badges %}
          <td align='left'>
            <a href="https://anaconda.org/{{ package.conda_channel }}/{{ package.conda_package }}">
              <img src="https://anaconda.org/{{ package.conda_channel }}/{{ package.conda_package }}/badges/version.svg">
            </a>
          </td>
          {% else %}
          <td align='center' class='empty-cell'>-</td>
          {% endif %}
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
    </div>
